<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>WebShot [% title %]</title>
  </head>

  <body>
  <ul class="nav">
    <li>Grab screenshots of websites</li>
    <li><a href="/website/add">Add</a></li>
    <li><a href="/website/list">List</a></li>
    <li><a href="/website/mosaic">Mosaic</a></li>
  </ul>

[% content  %]
  </body>
</html>
